/* I added a bar because you wanted one, if you like ask me and i'll remove it */
body
{
color:red;
font-family:Helvetica;
Background:orange;
padding:2.5%;
/* Bar */ margin:0px;
}

h1{ 
Background:black;
text-align:center;
padding-bottom:2.5%;
}

img{
float:center;
}

/* Bar */ 
nav{
  background-color:black;
}
.icon{
  text-decoration:none;
  color:orange;
  font-family:Helvetica;
  margin:5px;
  font-size:20px;
}
