body
{
  font-family:Helvetica;
  background-color:grey;
}
h1
{
  font-size:3cm;
  background-color:#222;
  color:whitesmoke;
  text-align:center;
  padding:2.5%;
  
}

p
{
  color:black;
  font-size:12px;
}
